%p#notice= notice

%p
  %b Section:
  = @question.section
%p
  %b Statement:
  = @question.statement
%p
  %b Choices:
  - ch = YAML.load @question.choices
  %ul
    - ch.each do |k,val|
      %li
        = radio_button_tag(:choice, k)
        = label_tag("choice_#{k}", val) 
  /= @question.choices
/%p
/%b Answer:
/= @question.answer

%button= link_to 'Next', @next_question