%p#notice= notice

%p
  %b Section:
  = @question.section
%p
  %b Statement:
  = @question.statement
%p
  %b Choices:
  - ch = YAML.load @question.choices
  - ch.each do |k,val|
    %ul
      %li #{k}  - #{val}
  /= @question.choices
/%p
/%b Answer:
/= @question.answer

= link_to 'Next Question', @next_question