%h1 Listing terminologies

%table
  %tr
    %th Term
    %th Desc
    %th
    %th
    %th

  - @terminologies.each do |terminology|
    %tr
      %td= terminology.term
      %td= terminology.desc
      %td= link_to 'Show', terminology
      %td= link_to 'Edit', edit_terminology_path(terminology)
      %td= link_to 'Destroy', terminology, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Terminology', new_terminology_path
