%p#notice= notice

%p.tooltip
  %b Term:
  = @terminology.term
  %span.tip
    = @terminology.desc
//%p
//  /%b Desc:
//  /= @terminology.desc

= link_to 'Edit', edit_terminology_path(@terminology)
\|
= link_to 'Back', terminologies_path
\|
= link_to 'Destroy', @terminology, method: :delete, data: { confirm: 'Are you sure?' }